{% extends 'base.html.twig' %}

{% block title %}Hello
  {{ controller_name }}!{% endblock %}

{% block body %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('build/linkmanager-app.css') }}">
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>
  <nav class="nav-wrapper blue-grey darken-2">
    <div class="brand-logo">
      <i class="fas fa-camera"></i>PhotoBank - Личный кабинет</div>
  </nav>
  <div class="row">
    <div class="account-info col s6 m4 l2">
      <div id="account-info-wrapper">
        <div class="account-info__inner">
          <div class="card horizontal user-info blue-grey lighten-2 white-text">
            <div class="card-image">
              <i class="fas fa-user-circle"></i>
            </div>
            <div class="card-content">
              <strong>{{user_name}}</strong>
            </div>
          </div>
          <a class="cyan darken-1 waves-effect waves-light btn" href="{{ path('logout') }}">Выход</a>
        </div>
      </div>
    </div>
    <div class="col s6 m8 l10 unset-padding">
      <div id="link-manager-wrapper"></div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('build/linkmanager-app.js') }}"></script>
{% endblock %}
